header{
background-color: #1F5B25;
position: absolute;
width: 1440px;
height: 86px;
left: 0px;
top: 0px;

}
 .kep{
     
    position: absolute;
    width: 1496px;
    height: 861px;
    left: -33px;
    top: 81px;
     
    
 }   

footer{
    background-color: #1F5B25;
    
    position: fixed;
    bottom: 0%;
width: 1483px;
height: 372px;
left: -22px;

}